<div class="container">
  <div class="payment-methods">
    <div class="payment-methods-content">
      <img src="../../../assets/visa-logo.png" alt="">
      <img src="../../../assets/mastercard-logo.png" alt="">
      <img src="../../../assets/american-express-logo.png" alt="">
      <img src="../../../assets/skrill-logo.svg" alt="">
      <img src="../../../assets/crypto-logos.svg" alt="">
      <p>and 50+ more</p>
    </div>
  </div>
  <div class="footer">
    <div class="social-icons">
      <div class="social-icons-content">
      <img src="../../../assets/facebook-logo.svg" alt="">
      <img src="../../../assets/instagram-logo.svg" alt="">
      <img src="../../../assets/twitter-logo.svg" alt="">
      <img src="../../../assets/discord-logo.svg" alt="">
      </div>
    </div>
    <div class="footer-content">
      <div class="logo-link">
        <img src="../../../assets/chicks-logo-large.svg" alt="">
        <a href="support@chicksgold.com">support@chicksgold.com</a>
      </div>
      <div class="chicks-gold">
        <h3>Chicks Gold</h3>
        <a href="#">Games</a>
        <a href="#">About Us</a>
        <a href="#">Blog</a>
        <a href="#">Sitemap</a>
      </div>
      <div class="support">
        <h3>Support</h3>
        <a href="#">Contact Us</a>
        <a href="#">FAQ</a>
      </div>
      <div class="legal">
        <h3>Legal</h3>
        <a href="#">Privacy Police</a>
        <a href="#">Terms of Service</a>
        <a href="#">Copyright Police</a>
      </div>
      <div class="review">
        <img src="../../../assets/icons8-rating-25.png" alt="">
        <img src="../../../assets/icons8-rating-25.png" alt="">
        <img src="../../../assets/icons8-rating-25.png" alt="">
        <img src="../../../assets/icons8-rating-25.png" alt="">
        <img src="../../../assets/icons8-rating-25.png" alt="">
        <label>Trustpilot Review</label>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; 2017 - 2020 Chicksgold.com. All Rights Reserve.</p>
    </div>
  </div>
</div>
