<div class="topnav" id="myTopnav" style="">
  <div style="display: flex;">
    <div class="logo-container" style="">
      <img src="../../../assets/chicks-logo-large.svg">
    </div>
    <div class="links">
      <div class="dropdown">
        <button class="dropbtn">Currency <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Items <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Accounts <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Services <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Swap <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Sell <i class="fa fa-arrow-down" aria-hidden="true"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div>
      <a href="javascript:void(0);" class="icon" onclick="toggleBurger()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
    <div class="currency-cart-signup">
      <a>USD</a>
      <a href="javascript:void(0);" class="icono">
        <i class="fa fa-shopping-cart"> Cart (5)</i>
      </a>
      <button href="javascript:void(0);" class="icono signupbtn">Sign up<i class="fa fa-user"></i></button>
    </div>
</div>
