<div class="container">
  <div class="number-items-sort">
    <div class="number-items">
      <label>Showing 20 - from 125</label>
    </div>
    <div class="sort">
      <label>Item type</label>
        <select>
          <option value="All" selected>All</option>
          <option value="Item 1">Item 1</option>
          <option value="Item 2">Item 2</option>
          <option value="Item 3">Item 3</option>
        </select>
    </div>
  </div>
  <div class="items"></div>
  <div class="paginator"></div>
</div>
