<div class="container">
  <div class="number-items-sort">
    <div class="number-items">
      <label>Showing 20 - from 125</label>
    </div>
    <div class="sort">
      <label>Sort By</label>
        <select>
          <option value="Featured" selected>Featured</option>
          <option value="Item 1">Item 1</option>
          <option value="Item 2">Item 2</option>
          <option value="Item 3">Item 3</option>
        </select>
    </div>
  </div>
  <div class="items">
    <div class="card">
      <div class="state-quantity">
        <div class="state-stock">
          <label class="state">On sale</label>
          <label class="stock">In stock</label>
        </div>
        <div class="quantity">
          <input type="number" name="quantity" id="quantity" min="1" value="1">
        </div>
      </div>
      <img src="../../../assets/bow.png" alt="">
      <div class="title-price-game">
        <div class="title-price">
          <label class="title">Twisted Bow</label>
          <label class="price">$150<label class="price-line">$250</label></label>
        </div>
        <img src="../../../assets/ors-logo.png" alt="" class="ors">
      </div>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="buttons">
        <button class="details">DETAILS</button>
        <button class="add-cart">ADD <i class="fa fa-shopping-cart"></i></button>
      </div>
    </div>
    <div class="card">
      <div class="state-quantity">
        <div class="state-stock">
          <label class="state">On sale</label>
          <label class="stock">In stock</label>
        </div>
        <div class="quantity">
          <input type="number" name="quantity" id="quantity" min="1" value="1">
        </div>
      </div>
      <img src="../../../assets/bow.png" alt="">
      <div class="title-price-game">
        <div class="title-price">
          <label class="title">Twisted Bow</label>
          <label class="price">$150<label class="price-line">$250</label></label>
        </div>
        <img src="../../../assets/ors-logo.png" alt="" class="ors">
      </div>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="buttons">
        <button class="details">DETAILS</button>
        <button class="add-cart">ADD <i class="fa fa-shopping-cart"></i></button>
      </div>
    </div>
    <div class="card">
      <div class="state-quantity">
        <div class="state-stock">
          <label class="state">On sale</label>
          <label class="stock">In stock</label>
        </div>
        <div class="quantity">
          <input type="number" name="quantity" id="quantity" min="1" value="1">
        </div>
      </div>
      <img src="../../../assets/bow.png" alt="">
      <div class="title-price-game">
        <div class="title-price">
          <label class="title">Twisted Bow</label>
          <label class="price">$150<label class="price-line">$250</label></label>
        </div>
        <img src="../../../assets/ors-logo.png" alt="" class="ors">
      </div>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="buttons">
        <button class="details">DETAILS</button>
        <button class="add-cart">ADD <i class="fa fa-shopping-cart"></i></button>
      </div>
    </div>
    <div class="card">
      <div class="state-quantity">
        <div class="state-stock">
          <label class="state">On sale</label>
          <label class="stock">In stock</label>
        </div>
        <div class="quantity">
          <input type="number" name="quantity" id="quantity" min="1" value="1">
        </div>
      </div>
      <img src="../../../assets/bow.png" alt="">
      <div class="title-price-game">
        <div class="title-price">
          <label class="title">Twisted Bow</label>
          <label class="price">$150<label class="price-line">$250</label></label>
        </div>
        <img src="../../../assets/ors-logo.png" alt="" class="ors">
      </div>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="buttons">
        <button class="details">DETAILS</button>
        <button class="add-cart">ADD <i class="fa fa-shopping-cart"></i></button>
      </div>
    </div>
    <div class="card">
      <div class="state-quantity">
        <div class="state-stock">
          <label class="state">On sale</label>
          <label class="stock">In stock</label>
        </div>
        <div class="quantity">
          <input type="number" name="quantity" id="quantity" min="1" value="1">
        </div>
      </div>
      <img src="../../../assets/bow.png" alt="">
      <div class="title-price-game">
        <div class="title-price">
          <label class="title">Twisted Bow</label>
          <label class="price">$150<label class="price-line">$250</label></label>
        </div>
        <img src="../../../assets/ors-logo.png" alt="" class="ors">
      </div>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="buttons">
        <button class="details">DETAILS</button>
        <button class="add-cart">ADD <i class="fa fa-shopping-cart"></i></button>
      </div>
    </div>
    <div class="card">
      <div class="state-quantity">
        <div class="state-stock">
          <label class="state">On sale</label>
          <label class="stock">In stock</label>
        </div>
        <div class="quantity">
          <input type="number" name="quantity" id="quantity" min="1" value="1">
        </div>
      </div>
      <img src="../../../assets/bow.png" alt="">
      <div class="title-price-game">
        <div class="title-price">
          <label class="title">Twisted Bow</label>
          <label class="price">$150<label class="price-line">$250</label></label>
        </div>
        <img src="../../../assets/ors-logo.png" alt="" class="ors">
      </div>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="buttons">
        <button class="details">DETAILS</button>
        <button class="add-cart">ADD <i class="fa fa-shopping-cart"></i></button>
      </div>
    </div>
    <div class="card">
      <div class="state-quantity">
        <div class="state-stock">
          <label class="state">On sale</label>
          <label class="stock">In stock</label>
        </div>
        <div class="quantity">
          <input type="number" name="quantity" id="quantity" min="1" value="1">
        </div>
      </div>
      <img src="../../../assets/bow.png" alt="">
      <div class="title-price-game">
        <div class="title-price">
          <label class="title">Twisted Bow</label>
          <label class="price">$150<label class="price-line">$250</label></label>
        </div>
        <img src="../../../assets/ors-logo.png" alt="" class="ors">
      </div>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="buttons">
        <button class="details">DETAILS</button>
        <button class="add-cart">ADD <i class="fa fa-shopping-cart"></i></button>
      </div>
    </div>
    <div class="card">
      <div class="state-quantity">
        <div class="state-stock">
          <label class="state">On sale</label>
          <label class="stock">In stock</label>
        </div>
        <div class="quantity">
          <input type="number" name="quantity" id="quantity" min="1" value="1">
        </div>
      </div>
      <img src="../../../assets/bow.png" alt="">
      <div class="title-price-game">
        <div class="title-price">
          <label class="title">Twisted Bow</label>
          <label class="price">$150<label class="price-line">$250</label></label>
        </div>
        <img src="../../../assets/ors-logo.png" alt="" class="ors">
      </div>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="buttons">
        <button class="details">DETAILS</button>
        <button class="add-cart">ADD <i class="fa fa-shopping-cart"></i></button>
      </div>
    </div>
    <div class="card">
      <div class="state-quantity">
        <div class="state-stock">
          <label class="state">On sale</label>
          <label class="stock">In stock</label>
        </div>
        <div class="quantity">
          <input type="number" name="quantity" id="quantity" min="1" value="1">
        </div>
      </div>
      <img src="../../../assets/bow.png" alt="">
      <div class="title-price-game">
        <div class="title-price">
          <label class="title">Twisted Bow</label>
          <label class="price">$150<label class="price-line">$250</label></label>
        </div>
        <img src="../../../assets/ors-logo.png" alt="" class="ors">
      </div>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="buttons">
        <button class="details">DETAILS</button>
        <button class="add-cart">ADD <i class="fa fa-shopping-cart"></i></button>
      </div>
    </div>
    <div class="card">
      <div class="state-quantity">
        <div class="state-stock">
          <label class="state">On sale</label>
          <label class="stock">In stock</label>
        </div>
        <div class="quantity">
          <input type="number" name="quantity" id="quantity" min="1" value="1">
        </div>
      </div>
      <img src="../../../assets/bow.png" alt="">
      <div class="title-price-game">
        <div class="title-price">
          <label class="title">Twisted Bow</label>
          <label class="price">$150<label class="price-line">$250</label></label>
        </div>
        <img src="../../../assets/ors-logo.png" alt="" class="ors">
      </div>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="buttons">
        <button class="details">DETAILS</button>
        <button class="add-cart">ADD <i class="fa fa-shopping-cart"></i></button>
      </div>
    </div>
    <div class="card">
      <div class="state-quantity">
        <div class="state-stock">
          <label class="state">On sale</label>
          <label class="stock">In stock</label>
        </div>
        <div class="quantity">
          <input type="number" name="quantity" id="quantity" min="1" value="1">
        </div>
      </div>
      <img src="../../../assets/bow.png" alt="">
      <div class="title-price-game">
        <div class="title-price">
          <label class="title">Twisted Bow</label>
          <label class="price">$150<label class="price-line">$250</label></label>
        </div>
        <img src="../../../assets/ors-logo.png" alt="" class="ors">
      </div>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="buttons">
        <button class="details">DETAILS</button>
        <button class="add-cart">ADD <i class="fa fa-shopping-cart"></i></button>
      </div>
    </div>
    <div class="card">
      <div class="state-quantity">
        <div class="state-stock">
          <label class="state">On sale</label>
          <label class="stock">In stock</label>
        </div>
        <div class="quantity">
          <input type="number" name="quantity" id="quantity" min="1" value="1">
        </div>
      </div>
      <img src="../../../assets/bow.png" alt="">
      <div class="title-price-game">
        <div class="title-price">
          <label class="title">Twisted Bow</label>
          <label class="price">$150<label class="price-line">$250</label></label>
        </div>
        <img src="../../../assets/ors-logo.png" alt="" class="ors">
      </div>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="buttons">
        <button class="details">DETAILS</button>
        <button class="add-cart">ADD <i class="fa fa-shopping-cart"></i></button>
      </div>
    </div>
    <div class="card">
      <div class="state-quantity">
        <div class="state-stock">
          <label class="state">On sale</label>
          <label class="stock">In stock</label>
        </div>
        <div class="quantity">
          <input type="number" name="quantity" id="quantity" min="1" value="1">
        </div>
      </div>
      <img src="../../../assets/bow.png" alt="">
      <div class="title-price-game">
        <div class="title-price">
          <label class="title">Twisted Bow</label>
          <label class="price">$150<label class="price-line">$250</label></label>
        </div>
        <img src="../../../assets/ors-logo.png" alt="" class="ors">
      </div>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="buttons">
        <button class="details">DETAILS</button>
        <button class="add-cart">ADD <i class="fa fa-shopping-cart"></i></button>
      </div>
    </div>
    <div class="card">
      <div class="state-quantity">
        <div class="state-stock">
          <label class="state">On sale</label>
          <label class="stock">In stock</label>
        </div>
        <div class="quantity">
          <input type="number" name="quantity" id="quantity" min="1" value="1">
        </div>
      </div>
      <img src="../../../assets/bow.png" alt="">
      <div class="title-price-game">
        <div class="title-price">
          <label class="title">Twisted Bow</label>
          <label class="price">$150<label class="price-line">$250</label></label>
        </div>
        <img src="../../../assets/ors-logo.png" alt="" class="ors">
      </div>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="buttons">
        <button class="details">DETAILS</button>
        <button class="add-cart">ADD <i class="fa fa-shopping-cart"></i></button>
      </div>
    </div>
    <div class="card">
      <div class="state-quantity">
        <div class="state-stock">
          <label class="state">On sale</label>
          <label class="stock">In stock</label>
        </div>
        <div class="quantity">
          <input type="number" name="quantity" id="quantity" min="1" value="1">
        </div>
      </div>
      <img src="../../../assets/bow.png" alt="">
      <div class="title-price-game">
        <div class="title-price">
          <label class="title">Twisted Bow</label>
          <label class="price">$150<label class="price-line">$250</label></label>
        </div>
        <img src="../../../assets/ors-logo.png" alt="" class="ors">
      </div>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      <div class="buttons">
        <button class="details">DETAILS</button>
        <button class="add-cart">ADD <i class="fa fa-shopping-cart"></i></button>
      </div>
    </div>
  </div>
  <div class="pagination">
    <a href="#" class="arrow">&laquo;</a>
    <a href="#" class="active">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#" class="arrow">&raquo;</a>
  </div>
</div>
