<h1>Condimentum consectetur</h1>
<div class="container">
  <div class="gameSelect">
      <select id="gameSelectFilter">
        <option value="Select Game" selected>Select Game</option>
        <option value="Game 1">Game 1</option>
        <option value="Game 2">Game 2</option>
        <option value="Game 3">Game 3</option>
      </select>
  <div class="searchBar">
    <input type="text" id="searchBar" placeholder="Search">
    <div class="filters">
      <div class="price">
        <label>Price</label>
        <select>
          <option value="All" selected>All</option>
          <option value="Price 1">Price 1</option>
          <option value="Price 2">Price 2</option>
          <option value="Price 3">Price 3</option>
        </select>
      </div>
      <div class="item-type">
        <label>Item type</label>
        <select>
          <option value="All" selected>All</option>
          <option value="Item 1">Item 1</option>
          <option value="Item 2">Item 2</option>
          <option value="Item 3">Item 3</option>
        </select>
      </div>
    </div>
  </div>
</div>
